{% extends '_layouts/shop/_layout.html.twig' %}
{% block title %}{{ title }}  | {{ app_name }}{% endblock title %}

{% block body %}
    <!-- Breadcrumb Area Start Here -->
    <div class="breadcrumb-area">
        <div class="container">
            <ol class="breadcrumb breadcrumb-list">
                <li class="breadcrumb-item">
                    <a href="index.html">Home</a>
                </li>
                <li class="breadcrumb-item active">blog</li>
            </ol>
        </div>
    </div>
    <!-- Breadcrumb Area End Here -->
    <!-- Blog Area Start Here -->
    <div class="blog-area ptb-80">
        <div class="container">
            <!-- Section Title Start -->
            <div class="section-title text-center mb-50">
                <h2>Latest Blog Posts</h2>
            </div>
            <!-- Section Title End -->
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <!-- Single Blog Start -->
                    <div class="single-elomus-blog">
                        <div class="blog-img">
                            <a href="blog-details.htmll">
                                <img src="{{ asset('app/img/products/p1.jpg') }}" alt="blog-img">
                            </a>
                            <div class="entry-meta">
                                <div class="date">
                                    <p>17</p>
                                    <span>dec</span>
                                </div>
                            </div>
                        </div>
                        <div class="blog-content">
                            <h4>
                                <a href="blog-details.html">Best electronics awarded</a>
                            </h4>
                            <ul class="meta-box">
                                <li class="meta-date">
                                    <span>
                                        <i class="fa fa-calendar" aria-hidden="true"></i>dec 17, 2018</span>
                                </li>
                                <li>
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <a href="#">By elomus</a>
                                </li>
                            </ul>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has
                                been the industrys standard dummy text ever since ...</p>
                            <div class="small-btn">
                                <a href="blog-details.html">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Blog End -->
                </div>
                <div class="col-lg-4 col-md-6">
                    <!-- Single Blog Start -->
                    <div class="single-elomus-blog">
                        <div class="blog-img">
                            <a href="single-elomus-blog.html">
                                <img src="{{ asset('app/img/products/p2.jpg') }}" alt="blog-img">
                            </a>
                            <div class="entry-meta">
                                <div class="entry-meta">
                                    <div class="date">
                                        <p>8</p>
                                        <span>dec</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="blog-content">
                            <h4>
                                <a href="blog-details.html">electronics exclusive model</a>
                            </h4>
                            <ul class="meta-box">
                                <li class="meta-date">
                                        <span>
                                            <i class="fa fa-calendar" aria-hidden="true"></i>dec 8, 2018</span>
                                </li>
                                <li>
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <a href="#">By elomus</a>
                                </li>
                            </ul>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has
                                been the industrys standard dummy text ever since ...</p>
                            <div class="small-btn">
                                <a href="blog-details.html">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Blog End -->
                </div>
                <div class="col-lg-4 col-md-6">
                    <!-- Single Blog Start -->
                    <div class="single-elomus-blog">
                        <div class="blog-img">
                            <a href="single-elomus-blog.html">
                                <img src="{{ asset('app/img/products/p9.jpg') }}" alt="blog-img">
                            </a>
                            <div class="entry-meta">
                                <div class="entry-meta">
                                    <div class="date">
                                        <p>14</p>
                                        <span>dec</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="blog-content">
                            <h4>
                                <a href="blog-details.html">best electronics value</a>
                            </h4>
                            <ul class="meta-box">
                                <li class="meta-date">
                                        <span>
                                            <i class="fa fa-calendar" aria-hidden="true"></i>dec 14, 2018</span>
                                </li>
                                <li>
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <a href="#">By elomus</a>
                                </li>
                            </ul>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has
                                been the industrys standard dummy text ever since ...</p>
                            <div class="small-btn">
                                <a href="blog-details.html">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Blog End --></div>
                <div class="col-lg-4 col-md-6">
                    <!-- Single Blog Start -->
                    <div class="single-elomus-blog">
                        <div class="blog-img">
                            <a href="single-elomus-blog.html">
                                <img src="{{ asset('app/img/products/p8.jpg') }}" alt="blog-img">
                            </a>
                            <div class="entry-meta">
                                <div class="entry-meta">
                                    <div class="date">
                                        <p>13</p>
                                        <span>dec</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="blog-content">
                            <h4>
                                <a href="blog-details.html">360 camera lens</a>
                            </h4>
                            <ul class="meta-box">
                                <li class="meta-date">
                                        <span>
                                            <i class="fa fa-calendar" aria-hidden="true"></i>dec 13, 2018</span>
                                </li>
                                <li>
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <a href="#">By elomus</a>
                                </li>
                            </ul>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has
                                been the industrys standard dummy text ever since ...</p>
                            <div class="small-btn">
                                <a href="blog-details.html">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Blog End -->
                </div>
                <div class="col-lg-4 col-md-6">
                    <!-- Single Blog Start -->
                    <div class="single-elomus-blog">
                        <div class="blog-img">
                            <a href="blog-details.htmll">
                                <img src="{{ asset('app/img/products/p7.jpg') }}" alt="blog-img">
                            </a>
                            <div class="entry-meta">
                                <div class="date">
                                    <p>17</p>
                                    <span>dec</span>
                                </div>
                            </div>
                        </div>
                        <div class="blog-content">
                            <h4>
                                <a href="blog-details.html">The History and the Hype</a>
                            </h4>
                            <ul class="meta-box">
                                <li class="meta-date">
                                        <span>
                                            <i class="fa fa-calendar" aria-hidden="true"></i>dec 17, 2018</span>
                                </li>
                                <li>
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <a href="#">By elomus</a>
                                </li>
                            </ul>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has
                                been the industrys standard dummy text ever since ...</p>
                            <div class="small-btn">
                                <a href="blog-details.html">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Blog End -->
                </div>
                <div class="col-lg-4 col-md-6">
                    <!-- Single Blog Start -->
                    <div class="single-elomus-blog">
                        <div class="blog-img">
                            <a href="single-elomus-blog.html">
                                <img src="{{ asset('app/img/products/p6.jpg') }}" alt="blog-img">
                            </a>
                            <div class="entry-meta">
                                <div class="entry-meta">
                                    <div class="date">
                                        <p>8</p>
                                        <span>dec</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="blog-content">
                            <h4>
                                <a href="blog-details.html">best electronics in market</a>
                            </h4>
                            <ul class="meta-box">
                                <li class="meta-date">
                                        <span>
                                            <i class="fa fa-calendar" aria-hidden="true"></i>dec 8, 2018</span>
                                </li>
                                <li>
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <a href="#">By elomus</a>
                                </li>
                            </ul>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has
                                been the industrys standard dummy text ever since ...</p>
                            <div class="small-btn">
                                <a href="blog-details.html">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Blog End -->
                </div>
                <div class="col-lg-4 col-md-6">
                    <!-- Single Blog Start -->
                    <div class="single-elomus-blog">
                        <div class="blog-img">
                            <a href="single-elomus-blog.html">
                                <img src="{{ asset('app/img/products/p5.jpg') }}" alt="blog-img">
                            </a>
                            <div class="entry-meta">
                                <div class="entry-meta">
                                    <div class="date">
                                        <p>14</p>
                                        <span>dec</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="blog-content">
                            <h4>
                                <a href="blog-details.html">electronics secret area</a>
                            </h4>
                            <ul class="meta-box">
                                <li class="meta-date">
                                        <span>
                                            <i class="fa fa-calendar" aria-hidden="true"></i>dec 14, 2018</span>
                                </li>
                                <li>
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <a href="#">By elomus</a>
                                </li>
                            </ul>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has
                                been the industrys standard dummy text ever since ...</p>
                            <div class="small-btn">
                                <a href="blog-details.html">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Blog End --></div>
                <div class="col-lg-4 col-md-6">
                    <!-- Single Blog Start -->
                    <div class="single-elomus-blog">
                        <div class="blog-img">
                            <a href="single-elomus-blog.html">
                                <img src="{{ asset('app/img/products/p4.jpg') }}" alt="blog-img">
                            </a>
                            <div class="entry-meta">
                                <div class="entry-meta">
                                    <div class="date">
                                        <p>13</p>
                                        <span>dec</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="blog-content">
                            <h4>
                                <a href="blog-details.html">latest scooter price</a>
                            </h4>
                            <ul class="meta-box">
                                <li class="meta-date">
                                        <span>
                                            <i class="fa fa-calendar" aria-hidden="true"></i>dec 13, 2018</span>
                                </li>
                                <li>
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <a href="#">By elomus</a>
                                </li>
                            </ul>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has
                                been the industrys standard dummy text ever since ...</p>
                            <div class="small-btn">
                                <a href="blog-details.html">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Blog End -->
                </div>
                <div class="col-lg-4 col-md-6">
                    <!-- Single Blog Start -->
                    <div class="single-elomus-blog">
                        <div class="blog-img">
                            <a href="blog-details.htmll">
                                <img src="{{ asset('app/img/products/p3.jpg') }}" alt="blog-img">
                            </a>
                            <div class="entry-meta">
                                <div class="date">
                                    <p>17</p>
                                    <span>dec</span>
                                </div>
                            </div>
                        </div>
                        <div class="blog-content">
                            <h4>
                                <a href="blog-details.html">best valuable scooter</a>
                            </h4>
                            <ul class="meta-box">
                                <li class="meta-date">
                                        <span>
                                            <i class="fa fa-calendar" aria-hidden="true"></i>dec 17, 2018</span>
                                </li>
                                <li>
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <a href="#">By elomus</a>
                                </li>
                            </ul>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has
                                been the industrys standard dummy text ever since ...</p>
                            <div class="small-btn">
                                <a href="blog-details.html">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Blog End -->
                </div>
            </div>
            <ul class="pagination-blog mt-20">
                <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
            </ul>
        </div>
        <!-- Container End -->
    </div>
    <!-- Blog Area End Here -->
{% endblock %}