{% extends '_layouts/shop/_layout.html.twig' %}
{% block title %}{{ title }}  | {{ app_name }}{% endblock title %}

{% block body %}
    <!-- Breadcrumb Area Start Here -->
    <div class="breadcrumb-area">
        <div class="container">
            <ol class="breadcrumb breadcrumb-list">
                <li class="breadcrumb-item">
                    <a href="index.html">Home</a>
                </li>
                <li class="breadcrumb-item active">wishlist</li>
            </ol>
        </div>
    </div>
    <!-- Breadcrumb Area End Here -->
    <!-- Blog Details Area Start -->
    <div class="blog-details-area ptb-80">
        <div class="container">
            <div class="row">
                <!-- Blog Details Start -->
                <div class="col-xl-9 col-lg-8">
                    <div class="blog-details mb-all-40">
                        <div class="blog-hero-img mb-40">
                            <img class="full-img" src="{{ asset('app/img/banner/b12.jpg') }}" alt="blog-details">
                            <div class="entry-meta">
                                <div class="date">
                                    <p>9</p>
                                    <span>dec</span>
                                </div>
                            </div>
                        </div>
                        <div class="text-upper-portion">
                            <h3 class="blog-dtl-header portfolio-header">Top most valuable electronicsin 2018</h3>
                            <ul class="meta-box meta-blog d-flex">
                                <li class="meta-date"><span><i class="fa fa-calendar" aria-hidden="true"></i>dec 9, 2018</span></li>
                                <li><i class="fa fa-user" aria-hidden="true"></i>By <a href="#"> elomus</a></li>
                            </ul>
                            <p class="mb-20">There boluptatum deleniti atque corrupti sdolores et quas molestias cepturi sint  eca itate non similique sunt in culpa modi tempora incidunt  obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure  obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure corrupti sdolores et quas molestias cepturi sint  eca itate non similique sunt in culpa modi tempora incidunt  obtain pain of itself, because it is pain</p>
                            <p>someone boluptatum deleniti atque corrupti sdolores et quas molestias cepturi sint  eca itate non similique sunt in culpa modi tempora incidunt  obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure  obtain</p>
                        </div>
                        <div class="row align-items-center ptb-40">
                            <div class="col-lg-6 col-md-6 col-sm-6 mb-xsm-30">
                                <img class="full-img" src="{{ asset('app/img/products/p5.jpg') }}" alt="blog-img">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <img class="full-img" src="{{ asset('app/img/products/p6.jpg') }}" alt="blog-img">
                            </div>
                        </div>
                        <div class="text-lower-portion">
                            <p>someone boluptatum deleniti atque corrupti sdolores et quas molestias cepturi sint  eca itate non similique sunt in culpa modi tempora incidunt  obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure  obtain corrupti sdolores et quas molestias cepturi sint  eca itate non similique sunt in culpa modi tempora incidunt  obtain pain of itself, because it is pain</p>
                            <blockquote class="blockquote blogquote">
                                <p>"While most companies strive to deliver seamless and issue-free customer service, what they often fail to understand is just how significantly their processes good and bad can impact their overall service delivery and, ultimately, how their customers view them."</p>
                                <footer class="blockquote-footer">Devid  Chory</footer>
                            </blockquote>
                            <p>There boluptatum deleniti atque corrupti sdolores et quas molestias cepturi sint  eca itate non similique sunt in culpa modi tempora incidunt  obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure  obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure someone boluptatum deleniti atque corrupti sdolores et quas molestias cepturi sint  eca itate non </p>
                        </div>
                        <div class="author mtb-40">
                            <h3 class="sidebar-header">author</h3>
                            <div class="single-comment">
                                <div class="comment-img">
                                    <img src="{{ asset('app/img/testmonial/t1.png') }}" alt="blog-comment">
                                </div>
                                <div class="comment-desc">
                                    <h6><a href="#">Stuart Smith </a></h6>
                                    <p>But I must explain to you how all this mistaken idea of denouncing sure and ising pain borand I will give you a complete account</p>
                                </div>
                            </div>
                        </div>
                        <div class="tags-social d-md-flex justify-content-sm-between ">
                            <div class="tags">
                                <ul class="d-flex">
                                    <li class="t-list">Tags:</li>
                                    <li><a href="#">design,</a></li>
                                    <li><a href="#">developmen,</a></li>
                                    <li><a href="#">sketch</a></li>
                                </ul>
                            </div>
                            <div class="blog-social">
                                <ul class="d-flex">
                                    <li class="t-list">Share:</li>
                                    <li><a href="#">Facebook,</a></li>
                                    <li><a href="#">Twetter,</a></li>
                                    <li><a href="#">Google+</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="blog-pagination">
                            <ul class="pagination">
                                <li><a href="#"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>previous</a></li>
                                <li class="ml-auto"><a href="#">next<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                        <!-- Comment Area Start -->
                        <div class="comments-area ptb-90">
                            <h3 class="sidebar-header">comments</h3>
                            <!-- Single Comment Start -->
                            <div class="single-comment">
                                <div class="comment-img">
                                    <img src="{{ asset('app/img/testmonial/t2.png') }}" alt="comment-img">
                                </div>
                                <div class="comment-desc">
                                    <div class="comment-upper d-flex justify-content-between align-items-center">
                                        <div class="comment-title">
                                            <h6><a href="#">robert skue</a></h6>
                                            <span>08 Jun 2017</span>
                                        </div>
                                        <div class="comment-reply">
                                            <a href="#">reply</a>
                                        </div>
                                    </div>
                                    <p>But I must explain to you how all this mistaken idea of denouncing pleasure and ising pain borand I will give you a complete account of the system</p>
                                </div>
                            </div>
                            <!-- Single Comment End -->
                            <!-- Single Comment Start -->
                            <div class="single-comment reply-comment">
                                <div class="comment-img">
                                    <img src="{{ asset('app/img/testmonial/t3.png') }}" alt="comment-img">
                                </div>
                                <div class="comment-desc">
                                    <div class="comment-upper d-flex justify-content-between align-items-center">
                                        <div class="comment-title">
                                            <h6><a href="#">rio Santos</a></h6>
                                            <span>08 Jun 2017</span>
                                        </div>
                                        <div class="comment-reply">
                                            <a href="#">reply</a>
                                        </div>
                                    </div>
                                    <p>But I must explain to you how all this mistaken idea this of denounng pleasure and ising pain idea borand I will give you a complete</p>
                                </div>
                            </div>
                            <!-- Single Comment End -->
                            <!-- Single Comment Start -->
                            <div class="single-comment">
                                <div class="comment-img">
                                    <img src="{{ asset('app/img/testmonial/t4.png') }}" alt="comment-img">
                                </div>
                                <div class="comment-desc">
                                    <div class="comment-upper d-flex justify-content-between align-items-center">
                                        <div class="comment-title">
                                            <h6><a href="#">steven Santos</a></h6>
                                            <span>08 Jun 2017</span>
                                        </div>
                                        <div class="comment-reply">
                                            <a href="#">reply</a>
                                        </div>
                                    </div>
                                    <p>But I must explain to you how all this mistaken idea of denouncing pleasure and ising pain borand I will give you a complete account of the system</p>
                                </div>
                            </div>
                            <!-- Single Comment End -->
                        </div>
                        <!-- Comment Area End -->
                        <!-- Blog Deatils Contact Start -->
                        <div class="blog-detail-contact">
                            <h3 class="mb-45 sidebar-header contact-header">Leave a Reply</h3>
                            <div class="submit-review">
                                <form class="row">
                                    <div class="form-group col-sm-6">
                                        <input class="control-form" placeholder="Name" type="text">
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <input class="control-for" placeholder="Email" type="email">
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <textarea class="fcontrol-for" placeholder="Message"></textarea>
                                    </div>
                                    <div class="col-sm-6">
                                        <input value="send now" class="login-btn" type="submit">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- Blog Deatils Contact End -->
                    </div>
                </div>
                <!-- Blog Details End -->
                <!-- Blog Sidebar Start -->
                <div class="col-xl-3 col-lg-4">
                    <div class="blog-sidebar right-sidebar mt-all-80">
                        <!-- Search Box Start -->
                        <div class="newsletter-box blog-details-box mb-40">
                            <h3 class="sidebar-header">Search</h3>
                            <form action="#">
                                <input class="subscribe" placeholder="Your email address" name="email" type="email">
                                <button type="submit" class="submit">search</button>
                            </form>
                        </div>
                        <!-- Search Box End -->
                        <!-- Category Post Start -->
                        <div class="categorie recent-post mb-60">
                            <h3 class="sidebar-header">categories</h3>
                            <ul class="categorie-list">
                                <li><a href="#">business<span>(22)</span></a></li>
                                <li><a href="#">consultancy<span>(15)</span></a></li>
                                <li><a href="#">creative<span>(20)</span></a></li>
                                <li><a href="#">corporate<span>(40)</span></a></li>
                                <li><a href="#">technology<span>(18)</span></a></li>
                                <li><a href="#">general<span>(12)</span></a></li>
                            </ul>
                        </div>
                        <!-- Category Post End -->
                        <!-- Recent Post Start -->
                        <div class="recent-post mb-60">
                            <h3 class="sidebar-header">recent posts</h3>
                            <div class="all-recent-post">
                                <div class="single-recent-post">
                                    <div class="recent-img">
                                        <a href="#"><img src="{{ asset('app/img/products/p1.jpg') }}" alt="blog-img"></a>
                                    </div>
                                    <div class="recent-desc">
                                        <h6><a href="#">Contrary to popular belie Various versions</a></h6>
                                        <span>20 jan, 2019</span>
                                    </div>
                                </div>
                                <div class="single-recent-post">
                                    <div class="recent-img">
                                        <a href="#"><img src="{{ asset('app/img/products/p2.jpg') }}" alt="blog-img"></a>
                                    </div>
                                    <div class="recent-desc">
                                        <h6><a href="#">It is a long-established uses a dictionary</a></h6>
                                        <span>18 April, 2019</span>
                                    </div>
                                </div>
                                <div class="single-recent-post">
                                    <div class="recent-img">
                                        <a href="#"><img src="{{ asset('app/img/products/p3.jpg') }}" alt="blog-img"></a>
                                    </div>
                                    <div class="recent-desc">
                                        <h6><a href="#">There are many variations available </a></h6>
                                        <span>15 aug, 2019</span>
                                    </div>
                                </div>
                                <div class="single-recent-post">
                                    <div class="recent-img">
                                        <a href="#"><img src="{{ asset('app/img/products/p7.jpg') }}" alt="blog-img"></a>
                                    </div>
                                    <div class="recent-desc">
                                        <h6><a href="#">The standard chunk of Lorem</a></h6>
                                        <span>18 sep, 2019</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Recent Post End -->
                        <!-- Meta Post Start -->
                        <div class="categorie recent-post">
                            <h3 class="sidebar-header">Tags</h3>
                            <ul class="tag-list d-flex flex-wrap">
                                <li><a href="#">Develop</a></li>
                                <li><a href="#">ecommerce</a></li>
                                <li><a href="#">Creative</a></li>
                                <li><a href="#">Corporate</a></li>
                                <li><a href="#">store</a></li>
                                <li><a href="#">Ideas</a></li>
                                <li><a href="#">Business</a></li>
                            </ul>
                        </div>
                        <!-- Meta Post End -->
                    </div>
                </div>
                <!-- Blog Sidebar End -->
            </div>
        </div>
    </div>
    <!-- Blog Details Area End -->
{% endblock %}